<h1>About beautymarks</h1>
<p>Created by Natalie, <a href="http://www.ketchumbeauty.com" target="_blank">Makeup Artist</a> and <a href="http://www.nataliekueneman.com" target="_blank">Web Developer</a></p>
