<h1>All beautymarks</h1>
<% @bmarks.each do |bmark| %>
  <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to bmark.title, bmark %>
       </h4>
       <small>
         submitted <%= time_ago_in_words(bmark.created_at) %> ago by <%= bmark.user.name %><br>
         <%= bmark.comments.count %> Comments
       </small>
     </div>
   </div>
<% end %>
